*{
  box-sizing: border-box;
  outline: none;
}

.principal_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./assets/img/background.png');
  background-color: #1ad4f59a;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

.middle_container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.product_list {
  flex: 1;
  display: block;
  padding: 40px 32px 40px 56px;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.section_title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.subtitle {
  position: relative;
  width: 100%;
  padding: 32px 0;
  list-style: none;
}

.product-list-subtitle {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.product-details-column {
  width: 45%;
  display: flex;
  align-items: center;
}

.quantity-column {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-column {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-column {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 900px) {
  .middle_container {
    display: flex;
    flex-direction: column;
  }
  .quantity-column {
    display:none
   }
   .price-column {
     display: none;
   }
   .total-column {
     display: none;
   }
  }

 .item_info {
   width: 100%;
   display: flex;
   align-items: center;
 }
 
.item_product {
  width: 100%;
  display: flex;
  align-items: center;
}

.product_description {
  width: 45%;
  display: flex;
  align-items: center;
}

.img-boton {
  margin-right: 10px;
  display: flex;
  align-items: initial;
  justify-content: center;
}

.image-product {
  width: 100px;
  height: 120px;
  justify-content: left;
}

h3 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

a {
  display: flex;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

.box_numbers_product {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_quantity {
  width: 35px;
  align-items: center;
  justify-content: center;
}

.product_price {
  width: 20%;
  align-items: center;
  justify-content: center;
}

.product_total {
  width: 15%;
  align-items: center;
  justify-content: center;
}